extends layout

block content
    h1= title

    html
      body
        input#check_all_1(type="user", placeholder="Username", name="user")
        input#check_all_1(type="password", placeholder="Password", name="pass")
        button#btnSubmit(type="submit", onclick='checkLogin()') Login
        br
        br
        button#btnSubmit(onclick='register()') Register Page


        script(type='text/javascript').
         var userArray = JSON.parse('!{users}');
         function checkLogin(){
              for(var i=0;i<userArray.length;i++){
                if (userArray[i].username == document.querySelector('[name="user"]').value &&
                	userArray[i].password == document.querySelector('[name="pass"]').value){
                  document.write("success");
                  window.location = "gmaps";
                  }
              }
              document.write("invalid login information");
                }
          function register(){
                 window.location = "user/newuser";
                }
