extends layout

block content
    h1(style="position: absolute; left: 540px; top: 300px; color: white;font-family:Calibri;") One step away from safe living.

    html
      body(style='background-image:url(http://guytoyz.com/wp-content/themes/rocketboard-v1-02/images/background/bg-b1.jpg); background-repeat: no-repeat; background-size: cover')
        input#check_all_1(type="user", style="position: absolute; left: 550px; top: 400px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;", placeholder="Username", name="user")
        input#check_all_1(type="password",style="position: absolute; left: 720px; top: 400px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;", placeholder="Password", name="pass")
        button#btnSubmit(type="submit", style="font-family: Calibri; color: white; position: absolute; left: 690px; top: 430px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;background-color: gray; border-style: solid; border-color:black", onclick='checkLogin()') Login
        br
        br
        button#btnSubmit(style="color: white; font-family: Calibri; position: absolute; left: 684px; top: 470px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: gray; border-style: solid; border-color: black", onclick='register()') Register


        script(type='text/javascript').
         var userArray = JSON.parse('!{users}');
         function checkLogin(){
              for(var i=0;i<userArray.length;i++){
                if (userArray[i].username == document.querySelector('[name="user"]').value &&
                	userArray[i].password == document.querySelector('[name="pass"]').value){
                  document.write("success");
                  window.location = "/gmaps";
                  }
              }
              document.write("invalid login information");
              var a = document.createElement('a');
              var linkText = document.createTextNode("go back");
              a.appendChild(linkText);
              a.title = "go back";
              a.href = "../user";
              document.body.appendChild(a);
                }
          function register(){
                 window.location = "/user/newuser";
                   }
