h1 Table View
script.
	var crimes = JSON.parse('!{crimes}');
	for(var i=0;i<10;i++){
	document.write("TYPE: ".bold().fontcolor("purple") + JSON.stringify(crimes[i].type).fontcolor("purple") + "<br>");
	document.write("YEAR: ".bold().fontcolor("purple") + JSON.stringify(crimes[i].year).fontcolor("purple") + "<br>");
	document.write("MONTH: ".bold().fontcolor("purple") + JSON.stringify(crimes[i].month).fontcolor("purple") + "<br>");
	document.write("ADDRESS: ".bold().fontcolor("purple") + JSON.stringify(crimes[i].address).fontcolor("purple") + "<br>");
	document.write("<br>");
	}