extends layout

block content
  h1= title
  form#formAddUser(name="adduser",method="post",action="signedUpPage")
    input#inputUserName(type="text", placeholder="username", name="username")
    input#inputPassword(type="password", placeholder="password", name="password")
    input#inputFirstName(type="text", placeholder="first name", name="firstName")
    input#inputLastName(type="text", placeholder="last name", name="lastName")
    input#inputEmail(type="text", placeholder="useremail", name="email")
    button#btnSubmit(type="submit") submit
