h1 Table View
script.
	var crimes = JSON.parse('!{tao5}');
	for(var i=0;i<10;i++){
	document.write("TYPE: ".bold().fontcolor("red") + JSON.stringify(crimes[i].type).fontcolor("red") + "<br>");
	document.write("YEAR: ".bold().fontcolor("red") + JSON.stringify(crimes[i].year).fontcolor("red") + "<br>");
	document.write("MONTH: ".bold().fontcolor("red") + JSON.stringify(crimes[i].month).fontcolor("red") + "<br>");
	document.write("ADDRESS: ".bold().fontcolor("red") + JSON.stringify(crimes[i].address).fontcolor("red") + "<br>");
	document.write("<br>");
	}